<link rel="stylesheet" href="/stylesheets/course-details.css">
<div class="container">
    <h1>Course details</h1>
    <h1>{{course.code}}</h1>
    <h3>{{course.name}}</h3>
    <h4>{{course.term}}</h4>
    <p>Begin: {{course.startDate}}  End: {{course.endDate}}</p>
    <p>Time: {{course.startTime}} - {{course.endTime}}</p>

        {{#each course.days}} 
        <span></span>{{ this }}</span>
        {{/each}}

    
<p></p>
    <h5>Instructor: {{course.instructor.name}} {{course.instructor.lastName}}</h5>
    <p>{{course.introduction}}</p>
    <h2>Course content</h2>
    <ul>
      <li><a href={{course.syllabusPath}}>Syllabus</a></li>
      <li><a href="#">Sections</a></li>
      <li><a href="#"> Study Material</a></li>
    </ul>
</div>

<div class="content-wrapper">
  <div class="circular-container"> 
    <a  id="clock"href="#"><i class="far fa-clock"></i></a>
  </div>
  <div class="circular-container">
    <a id="door"href="#"><i class="fas fa-door-open"></i></a>
  </div>

  <div class="circular-container">
    <a id="gavel"href="#"><i class="fas fa-gavel"></i></a>
  </div>
  <div class="circular-container">
    <a id="map" href="#"><i class="fas fa-sitemap"></i></a>
    
  </div>
  <div class="circular-container">
    <a id="task"href="#"><i class="fas fa-tasks"></i></a>
  </div>
  <div class="circular-container">
    <a id="file" href="#"><i class="far fa-file"></i></a>
  </div>
  <div class="circular-container">
    <a id="video" href="#"><i class="fas fa-video"></i></a>
  </div>
</div>

