<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/axios.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  {{#if errorMessage}}
    <div style="color: red; font-size:1.2em;">
        {{errorMessage}}
    </div>
    {{/if}}
    {{#if successMessage}}
      <div style="color: green; font-size:1.2em;">
      {{successMessage}}
      </div>
    {{/if}}
<nav>
  {{#if currentUser}}
  

<nav class="navbar navbar-light bg-light">
<img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
<h1>{{currentUser.name}}</h1>
<form action="/logout" method="POST">
  <button>Logout</button>
  </form>
</nav>
  {{/if}}
<br> <a href="/profile">Profile</a>
<br><a href="/instructors">Instructors list</a>
<br><a href="/students">Estudents list</a>
<br> <a href="/courses">Courses list</a>
<br> <a href="/courses/create">Create course</a>
<br> <a href="/login">Login</a>
<br> <a href="/students/create">Create Student</a>
<br> <a href="/instructors/create">Create Instructor</a>
</nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>