<h1>Assignment details</h1>  
<h2>{{theAssignment.title}}</h2>
<p>{{theAssignment.description}}</p>

<h1>Assignment Submission</h1>
  <form action="/uploads/create" method='post' enctype="multipart/form-data">
    <input type="hidden" name="assignment" value="{{theAssignment._id}}"id="">
    <input type="hidden" name="author" value="{{currentUser._id}}"id="">
    <input type="hidden" name="course" value="{{courseId}}" id="">
    <div class="form-group">
        <label for="documentPath">Upload Assignment</label>
        <input type="file" class="form-control-file" name="documentPath" id="documentPath" required>
    </div>
    <button>Submit Assignment</button>
  </form>

<p>---------------------------------------------------------------</p>

  <ul>
    {{#each uploads}}
    <li><a href={{this.documentPath}}>{{this.author.name}}</a></li>
    {{else}}
    <h1>There are no submissions yet</h1>
    {{/each}}
  </ul>