<h1>Instructor Profile => {{instructorId}}</h1>

{{#each courses}}
<ul>
  <li>Name: {{this.name}}</li>
  <li>Course: {{this.code}}</li>
  <h4>Student list</h4>
  <ul>
    {{#each this.studentList}}
    <li>{{this.name}} {{this.lastName}}</li>
    {{/each}}
  </ul>
</ul>
{{/each}}