<h1>Profile Page</h1>

<h3>{{currentUser.name}} {{currentUser.lastName}}</h3>
<h3>Role:{{currentUser.role}}</h3>

{{!-- {{#each courses}}
<ul>
  <li>{{this.name}}</li>
  <li>{{this.code}}</li>
  <li>{{this.instructor.name}} {{this.instructor.lastName}}</li>
</ul>
{{/each}} --}}